<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oops-oop</title>
    <style>
        .navbar {
            height: 10vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eee;
        }
        .navbar ul {
            list-style: none;
            width: 80%;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <ul class="nav-items">
            {% if not user.is_authenticated or request.session.quiz_started == False %}
                <li class="home">
                    <a href="{% url 'core:index' %}" class="home-button">Home</a>
                </li>
            {% endif %}
            <li class="incorrect-counter">Consecutive Incorrect: {{ user.incorrect_counter }}</li>
            <li class="level-question-counter">Current Level: {{ user.current_level }}</li>
            <li class="level-question-counter">Questions Passed: {{ user.current_passed }}</li>
            {% if user.is_authenticated %}
                <li class="username">{{ user.username }}</li>
                <a href="{% url 'core:restart' %}">Restart!</a>
                <li class="logout-button">
                    <form action="{% url 'core:logout' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" style="background:none; border:none; padding:0; color:blue; text-decoration:underline; cursor:pointer;">
                            Logout
                        </button>
                    </form>
                </li>
            {% else %}
            <li class="login-button">
                <a href="{% url 'core:login' %}" class="login-button">Login</a>
            </li>
            <li class="register-button">
                <a href="{% url 'core:register' %}" class="register-button">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% block content %}
    {% endblock content %}
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>