{% extends 'core/base.html' %}
{% block content %}
<div class="container" style="display: flex; align-items: center; justify-content: center; margin-top: 3rem;">
    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" style="height: 3rem; width: 8rem; font-size: 2rem;">Start</button>
        </form>
        <h3>Notes:</h3>
        <ol>
            <li>There are 10 levels in total.</li>
            <li>To pass one level, you need to pass 10 questions.</li>
            <li>If you get two incorrect or timed out questions in a row, your level goes down</li>
            <li>You have 60 seconds for each question.</li>
        </ol>
    {% else %}
        <p>Login to get started!</p>
    {% endif %}
</div>
{% endblock content %}